@import './variables';

.sidebar {
  width: 10%;
  padding: 20px 30px;

  .logo {
    img {
      width: 100%;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin-top: 100px;

    li {
      padding: 10px;

      a {
        text-decoration: none;
        color: $grey;

        &:hover {
          color: $blue;
          font-weight: bold;
        }
      }

      &.active {
        a {
          color: $blue;
          font-weight: bold;
        }
      }
    }
  }
}
