html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app .content {
  width: 90%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .content .header {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app .content .header h1 {
  padding: 0;
  margin: 0;
  color: #0072f4;
}

.app .content .header__tools button {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 10px;
  font-size: 1.6rem;
}

.app .content .header__tools button:after {
  display: none;
}

.app .content .header__tools button:hover {
  color: #999999;
}

.app .content .content-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.app .content .content-body .news-section {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

.app .content .content-body .right-section {
  width: 70%;
  height: 100%;
}

.sidebar {
  width: 10%;
  padding: 20px 30px;
}

.sidebar .logo img {
  width: 100%;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
  margin-top: 100px;
}

.sidebar .menu li {
  padding: 10px;
}

.sidebar .menu li a {
  text-decoration: none;
  color: #999999;
}

.sidebar .menu li a:hover {
  color: #0072f4;
  font-weight: bold;
}

.sidebar .menu li.active a {
  color: #0072f4;
  font-weight: bold;
}

.news-section {
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.news-section::-webkit-scrollbar {
  width: 10px;
}

.news-section::-webkit-scrollbar-thumb {
  background: #f0efef;
  border-radius: 10px;
}

.news-section .news-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.news-section .news-element__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  border-radius: 30px;
}

.news-section .news-element__description {
  font-size: 1rem;
  color: #555555;
  line-height: 1.4rem;
}

.news-section .news-element .news-element-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.news-section .news-element .news-element-title:hover {
  color: #0072f4;
}

.news-section .news-element .author {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-section .news-element .content-wrapper {
  padding: 20px 30px;
}

@media screen and (max-width: 1440px) {
  .news-section {
    padding: 0 20px;
  }
  .news-section::-webkit-scrollbar {
    width: 5px;
  }
  .news-section::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  .news-section .news-element {
    border-radius: 20px;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  }
  .news-section .news-element__image {
    border-radius: 20px;
  }
  .news-section .news-element__description {
    line-height: 1.2rem;
  }
  .news-section .news-element .news-element-title {
    font-size: 1.2rem;
  }
}

.weather-wrapper {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.weather-wrapper .weather {
  width: 100%;
  padding: 30px 30px 50px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  margin-left: 30px;
}

.weather-wrapper .weather::-webkit-scrollbar {
  height: 10px;
}

.weather-wrapper .weather::-webkit-scrollbar-thumb {
  background: #f0efef;
  border-radius: 10px;
}

.weather-wrapper .weather .weather-day {
  width: 430px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 20px 40px rgba(50, 50, 50, 0.2);
          box-shadow: 0 20px 40px rgba(50, 50, 50, 0.2);
  border-radius: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.weather-wrapper .weather .weather-day img {
  width: 128px;
}

.weather-wrapper .weather .weather-day .temperature {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.weather-wrapper .weather .weather-day .weather-description {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.weather-wrapper .weather .weather-day .day-name {
  color: #777777;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.weather-wrapper .weather-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-wrapper .weather-tools .header {
  font-size: 1.4rem;
  padding: 0 2rem;
}

.weather-wrapper .weather-tools .header .header-title {
  font-weight: bold;
  margin-right: 1rem;
  color: #0072f4;
}

.weather-wrapper .weather-tools .header .header-date {
  color: #999999;
}

.weather-wrapper .weather-tools .weather-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1rem;
}

.sun {
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, rgba(255, 145, 0, 0.4)), color-stop(25%, white), to(white));
  background-image: linear-gradient(0, rgba(255, 145, 0, 0.4) 0%, white 25%, white 100%);
}

.rain {
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, rgba(48, 71, 202, 0.4)), color-stop(25%, white), to(white));
  background-image: linear-gradient(0, rgba(48, 71, 202, 0.4) 0%, white 25%, white 100%);
}

.wind {
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, rgba(72, 79, 117, 0.4)), color-stop(25%, white), to(white));
  background-image: linear-gradient(0, rgba(72, 79, 117, 0.4) 0%, white 25%, white 100%);
}

@media screen and (max-width: 1440px) {
  .weather-wrapper .weather {
    padding: 30px 30px 40px 30px;
    margin-left: 20px;
  }
  .weather-wrapper .weather::-webkit-scrollbar {
    height: 5px;
  }
  .weather-wrapper .weather::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  .weather-wrapper .weather .weather-day {
    width: 350px;
    height: 100%;
    -webkit-box-shadow: 0 10px 30px rgba(50, 50, 50, 0.15);
            box-shadow: 0 10px 30px rgba(50, 50, 50, 0.15);
    border-radius: 20px;
    margin-right: 20px;
    padding: 40px 20px;
  }
  .weather-wrapper .weather .weather-day img {
    width: 100px;
    margin-bottom: 5px;
  }
  .weather-wrapper .weather .weather-day .temperature {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  .weather-wrapper .weather .weather-day .weather-description {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  .weather-wrapper .weather .weather-day .day-name {
    color: #777777;
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
  .weather-wrapper .weather-tools .header {
    font-size: 1.2rem;
    padding: 0 2rem;
  }
}

.tools {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tools .card {
  background: white;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
  height: 400px;
  border-radius: 30px;
  overflow: hidden;
}

.tools .time {
  width: 50%;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tools .time__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.tools .time__display .bg {
  background-image: url("../images/clock.png");
  background-position: 150% 150%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.2;
}

.tools .time__display .time-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #666666;
  position: relative;
}

.tools .time__display .current-time {
  font-size: 5rem;
  margin-bottom: 2rem;
  z-index: 2;
}

.tools .time__display .city {
  font-size: 1.5rem;
  color: #666666;
  z-index: 2;
}

.tools .live {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tools .live__video {
  width: 100%;
  height: 100%;
}

.switches {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  width: 120px;
  padding: 15px 0;
  text-align: center;
  background-color: white;
  font-size: 1rem;
  border: none;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 0 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(white));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.07) 0%, white 100%);
  font-weight: bold;
  color: #444;
}

button:hover {
  background: #0072f4;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 114, 244, 0)));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 114, 244, 0) 100%);
  color: white;
}

button:hover:after {
  background: white;
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}

button:after {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  bottom: 0;
  left: calc(50% - 5px);
  background: #0072f4;
  -webkit-box-shadow: 0 0 10px #0072f4;
          box-shadow: 0 0 10px #0072f4;
  position: absolute;
}

.preloader {
  width: 128px;
}

@media screen and (max-width: 1440px) {
  button {
    width: 120px;
    padding: 15px 0;
    text-align: center;
    font-size: 1rem;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 0 5px;
  }
  button:hover:after {
    -webkit-box-shadow: 0 0 10px white;
            box-shadow: 0 0 10px white;
  }
  button:after {
    width: 20px;
    height: 3px;
    left: calc(50% - 5px);
    -webkit-box-shadow: 0 0 10px #0072f4;
            box-shadow: 0 0 10px #0072f4;
  }
}
/*# sourceMappingURL=styles.css.map */