html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

$blue: #6100f4;
$grey: #999999;

.app {
  width: 100%;
  height: 100%;
  display: flex;

  .sidebar {
    width: 10%;
    padding: 20px 30px;

    .logo {
      img {
        width: 100%;
      }
    }

    .menu {
      list-style: none;
      padding: 0;
      margin-top: 100px;

      li {
        padding: 10px;

        a {
          text-decoration: none;
          color: $grey;

          &:hover {
            color: $blue;
            font-weight: bold;
          }
        }

        &.active {
          a {
            color: $blue;
            font-weight: bold;
          }
        }
      }
    }
  }

  .content {
    width: 90%;

    .header {
      display: flex;
      justify-content: space-between;
      padding: 30px 20px;
      align-items: center;

      h1 {
        padding: 0;
        margin: 0;
        color: $blue;
      }

      &__tools {
        .search-btn,
        .settings-btn {
          background: none;
          border: none;
          padding: 10px;
          font-size: 1.6rem;

          &:hover {
            color: $grey;
          }
        }
      }
    }

    .content-body {
      padding: 30px;
      display: flex;
      height: 80%;
      overflow: hidden;

      .news-section {
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
      }

      .right-section {
        width: 65%;
        height: 100%;
      }
    }
  }
}

.news-section {
  padding: 0 50px;
  box-sizing: border-box;

  .news-element {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 0 40px 50px rgba(0, 0, 0, 0.2);

    &__image {
      align-self: center;
      width: 100%;
      height: 300px;
    }

    &__description {
      font-size: 1.4rem;
      color: #555555;
      line-height: 2rem;
    }

    .news-element-title {
      font-size: 2rem;
      font-weight: bold;
      color: #333333;
      margin-bottom: 30px;
      display: block;
    }

    .content-wrapper {
      padding: 20px 40px 60px 40px;
    }
  }
}
